<div class="flex col gap-2">
  <label class="font-sm text-muted" for={{@id}}>{{@label}}{{#if @required}} *{{/if}}</label>
  <div class="form-input-wrapper">
    <input
      id={{@id}}
      type={{@type}}
      class="form-input"
      placeholder={{@placeholder}}
      value={{@value}}
      min={{@min}}
      max={{@max}}
      step={{@step}}
      required={{@required}}
      {{on "input" @onChange}}
    />
  </div>
</div>